<div class="modal" id="contact-form">
  <div class="modal-background"></div>
  <div class="modal-content box">
    <form class="m-auto" name=”EmailForm”> 
      <div class="field mx-3">
          <label class="label">Name</label>
          <div class="control">
            <input class="input is-in" type="text" placeholder="e.g Alan Watts">
          </div>
        </div>
        <div class="field mx-3">
          <label class="label">Email</label>
          <div class="control">
            <input class="input is-in" type="email" placeholder="e.g. alanwatts@gmail.com">
          </div>
        </div>
        <div class="field mx-3">
          <label class="label">Message</label>
          <div class="control">
            <textarea class="textarea is-in" placeholder="This is the real secret of life — to be completely engaged with what you are doing in the here and now. And instead of calling it work, realize it is play."></textarea>
          </div>
        </div>
        
        <div class="control mx-3">
          <button class="button is-accent is-pulled-right">Submit</button>
        </div> 
  </form>
  </div>
  <button class="modal-close is-large" aria-label="close" onClick="closeContact()"></button>
</div>