
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bulma CSS -->
<link rel="stylesheet" href="css/bulma.min.css">
<!-- Brand CSS -->
<link rel="stylesheet" href="css/brand.css">
<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@500&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
<!-- favicon -->
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>


<title>  emd—sh</title>
