<img src="/images/svgs/hero.svg" class="hero-svg back">
<section class="hero is-medium is-transparent">
    <div class="hero-body front">
      <h2 class="is-size-1">
        copy, <br>
        branding, <br>
        & layout design
    </h2>
      <p class="subtitle has-text-weight-light">
        Digital experience services for tech startups.
      </p>
      </div>
  </section>
<div class="columns">
    <div class="column has-text-centered front">
      <h2 class="title ">ux writing</h2>
      <ul class="is-size-5">
          <li>modals</li>
          <li>error messages</li>
          <li>buttons</li>
          <li>tooltips</li>
      </ul>
    </div>
    <div class="column has-text-centered front">
        <h2 class="title">web copy</h2>
        <ul class="is-size-5">
            <li>site pages</li>
            <li>product & feature names</li>
            <li>newsletters</li>
            <li>release notes</li>
        </ul>
    </div>
    <div class="column has-text-centered front">
        <h2 class="title">design</h2>
        <ul class="is-size-5">
            <li>website layouts</li>
            <li>product ux</li>
            <li>blog graphics</li>
        </ul>
    </div>
  </div>
  <img src="/images/svgs/hero-2.svg" class="hero2-svg back">
  <section class="hero is-medium is-transparent">
    <div class="hero-body has-text-right front">
      <h2 class="is-size-1">
       This is a customer quote.
      </h2>
      <p class="subtitle">
        -- Karen O., <strong> Yeah Yeah Yeahs</strong>
      </p>
      
    </div>
  </section>












