<nav class="navbar is-clear">
    <div class="navbar-brand">
      <a class="button brand" href="/">
        <img src="/images/svgs/emdash.svg">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons has-text-weight-light">
            <a class="button is-in">
              Work
            </a>
            <a class="button is-in">
              About
            </a>
            <a class="button is-in">
                Contact
              </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
