<nav class="navbar is-clear mx-6">
    <div class="navbar-brand">
      <a class="button brand" href="/" id="home">
        <img src="/images/svgs/emdash.svg">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu is-clear is-vampire">
  
      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons has-text-weight-light">
            <a class="button is-in" href="/" id="work">
              Work
            </a>
            <a class="button is-in" href="/about">
              About
            </a>
            <a class="button is-in" data-target="contact-form" onclick="openContact()">
                Contact
              </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
